<div class="PostAddress {% if include.centered %}u-center-content{% endif %}" itemscope itemtype="http://schema.org/LocalBusiness">
	<p itemprop="name">{{ site.address.name }}</p>
    <address {% if include.centered %}class="u-center-content"{% endif %} itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <p itemprop="street-address">{{ site.address.street_address }}</p>
        <p>
            <span itemprop="postal-code">{{ site.address.postal_code }}</span>
            <span itemprop="locality">{{ site.address.locality }}</span>
        </p>
    </address>
</div>
