---
layout: default
---

{% include slider.html %}

<!-- Presentation -->
<section class="section" role="banner">
  <header>
    <h4>Avocate au barreau de Paris</h4>
    <h1>Maître Sophie Moutot Noce</h1>
  </header>

  <div class="u-center-content">
    <amp-img
      src="assets/sophie-200x300.jpg"
      srcset="assets/sophie-200x300.jpg 200w"
      width="100"
      height="150"
      alt="Photo de Maitre Sophie Moutot Noce">
    </amp-img>
  </div>
</section>
<!-- / Presentation -->

<!-- Core Competencies -->
<section class="section" id="info" role="main">
  <div class="container">
    <h4>Compétences</h4>
    <p role="contentinfo">
      Maître Sophie MOUTOT NOCE conseille, assiste et défend toutes les personnes qui ont été victimes de dommages corporels suite à un accident.
      Elle réalise toutes les démarches afin de faire reconnaître le droit à indemnisation de l'intégralité des préjudices de ses clients conformément à la Nomenclature Dintilhac aussi bien dans un cadre amiable que judiciaire.
    </p>
    <br>
    <p>
      Exemples d’évènements traumatiques ou accidentels permettant une indemnisation: 
    </p>
    <div class="Competencies">
      {% for competency in site.competencies %}
      {% capture mod %}{{ forloop.index0 | modulo:3 }}{% endcapture %}
      {% if mod == '0' or forloop.first %}
        {% unless forloop.first %}</div>{% endunless %}
        <div class="row">
      {% endif %}
        <div class="col" role="complementary">
          <h5>{{ competency.title | escape }}</h5>
          <p>
          {% for text in competency.texts %}
            {% unless forloop.first %}<br>{% endunless %}{{ text | escape }}
          {% endfor %}
          </p>
        </div>
      {% endfor %}
      </div>
    </div>
    </div>
</section>
<!-- / Core Competencies -->

<hr>

<!-- Engagements -->
<section class="section" role="note">
    <div class="container">
        <h4>Mes engagements</h4>
        <ul>
            <li>
                Le <em>1er rendez vous est sans obligation</em>
            </li>
            <li>
              Un cabinet défendant exclusivement les victimes d'accidents corporels
            </li>
            <li>
                Un cabinet <em>à taille humaine</em> et <em>à l’écoute des victimes</em>
            </li>
            <li>
                La <em>transparence des honoraires</em> dès l’ouverture du dossier
            </li>
            <li>
                Un cabinet intervenant <em>sur tout le territoire</em> national et notamment en Ile de France, dans le Var et dans les Alpes
            </li>
        </ul>
    </div>
    
    N'hésitez pas à contacter Maître Sophie Moutot Noce pour toute question concernant vos préjudices et leur indemnisation.
</section>
<!-- / Engagements -->
