---
layout: default
is_post: true
---
{% if page.unsplash_id %}
<div class="Post-header">
    <amp-img
            src="https://source.unsplash.com/{{ page.unsplash_id }}/800x400"
            srcset="https://source.unsplash.com/{{ page.unsplash_id }}/400x200 400w, https://source.unsplash.com/{{ page.unsplash_id }}/800x400 800w, https://source.unsplash.com/{{ page.unsplash_id }}/1600x800 1600w, https://source.unsplash.com/{{ page.unsplash_id }}/3200x1600 3200w"
            width="800"
            height="400"
            layout="responsive"
            alt="{{ page.title }}">
    </amp-img>
    <h1>
        {{ page.title }}
    </h1>
</div>
{% endif %}
<div class="Post container">
    <amp-img
            class="Post-image"
            src="/assets/sophie-200x300.jpg"
            srcset="/assets/sophie-200x300.jpg 200w"
            width="100"
            height="150"
            alt="Maitre Sophie Moutot Noce">
    </amp-img>
    {% if page.date %}
    {% include post_date.html date=page.date %}
    {% endif %}
    {% unless page.unsplash_id %}
    <h1>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {{ page.title }}
    </h1>
    {% endunless %}
    {% if page.subtitle %}
    <h3>{{ page.subtitle }}</h3>
    {% else %}{% if page.unsplash_id %}
    <h3>{{ page.title }}</h3>
    {% endif %}{% endif %}
    <div class="clearfix"></div>

    {{ content }}
</div>
